
/* Background of page  */

body{
   background-image: url('https://wallpaper.dog/large/20474389.jpg');
    background-attachment: fixed;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: red;
    overflow-x: scroll;
    padding: 200px;
}
::-webkit-scrollbar {
width: 5px;
height: 10px;
} 

::-webkit-scrollbar-track {
background: #1e1e24;
height: 5px;
width: 10px;
} 
::-webkit-scrollbar-thumb{
    background:red;
    width: 10px;
    height: 5px;
}




/* Header */
h1{
    color: red;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
    width: 270px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 8px 10px 4px red;
    margin: 10px;
    padding: 10px;
    background: rgba(92, 86, 86, 0.644);
    transition: transform 450ms;
    
}


#container{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    padding:20px 40px;
    background: transparent;
    font-size: large;
    font-weight: bolder; 
}

.poster{
    background-image: url(https://www.showplacerents.com/img/image-placeholder.png);
    background-size: cover;
    background-position: center;
    width: 80%;
    min-height: 300px;
    
}

.card:hover{
    box-shadow: 5px 5px 8px 8px white;
    cursor: pointer;
    transition: all .03s;
    transform: scale(1.08);
    }

    button, input[type=submit]{
        cursor: pointer;
        background:white;
        border:1px solid red;
        transition: all 0.3s;
        outline:none;
    }
    button:hover, input[type=submit]:hover{
        background:skyblue;
    }


    .topnav {
        text-align: center;
        flex-direction:column;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.644);
        word-spacing: 70px;
        top: 0px;
        left: 0px;
        height: 200px;
        width: 100%;
        position: fixed;
      }

      .topnav a {
        float: center;
        display:inline-block ;
        color: lightgrey;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
      }

      .topnav a:hover{
        text-shadow: .8px .8px  rgb(211, 206, 206);
    }
  
